[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Colour-on-Start
Comment=
Exec=startx -- -depth 32
TryExec=startx -- -depth 32
StartupNotify=false
X-GNOME-Autostart-enabled=true
Terminal=false
Hidden=true
