[Desktop Entry]
Categories=System;Settings;Utility;
Comment=Control your computer with ease using application profiles
Exec=corectrl
GenericName=Core control
Icon=corectrl
Keywords=core;control;system;hardware;
Name=CoreCtrl
StartupNotify=false
StartupWMClass=corectrl
Terminal=false
Type=Application
